.idea/
/GUI/pyqt/PyQt-Fluent-Widgets-pyqt5/
/GUI/pyside/PyQt-Fluent-Widgets-pyside6/
/GUI/streamlit/demo/miss_welllogging_predict_webui/
/paddle/AI_Studio课程/零基础实践深度学习（第2版）/
/paddle/paddleTS/
/paddle/论文复现/BERT-SST2-Prod/

*.github
*.pt
*.log
*.pyc
*.data
*.pkl

/pytroch/paper_code/2022-AWD-LSTM/awd-lstm-lm/data
/pytroch/paper_code/2022-Informer/Informer2020-main/checkpoints/
/pytroch/paper_code/2022-Informer/Informer2020-main/data/datasets/
/pytroch/paper_code/2022-Informer/Informer2020-well_log_predict/checkpoints/
/pytroch/paper_code/2022-Informer/Informer2020-well_log_predict/data/datasets/
/pytroch/paper_code/2022-SHA-RNN/sha-rnn/data/
/pytroch/paper_code/20240705-KAN/3.GraphKAN-Graph-Kolmogorov-Arnold-Networks/data/
/pytroch/paper_code/20240805-dain/lob.tar.xz
/pytroch/paper_code/20240808-BiTCN/pedpf/data/uci_traffic/recon_to_days.xlsx
/pytroch/paper_code/20240808-BiTCN/20231201-TCN/TCN/TCN/mnist_pixel/data/
/pytroch/paper_code/20240808-BiTCN/20231201-TCN/TCN/TCN/char_cnn/data/
/pytroch/paper_code/20240808-BiTCN/20231201-TCN/TCN/TCN/word_cnn/data/
/pytroch/paper_code/20240903-SimMTM/SimMTM_Forecasting/dataset/
/pytroch/paper_code/2022-Transformer/20241031-ChineseNMT/ChineseNMT/data/json/
