.idea/.gitignore
.idea/Machine_Learning-notes.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
/GUI/pyqt/PyQt-Fluent-Widgets-pyqt5/
/GUI/pyside/PyQt-Fluent-Widgets-pyside6/
/paddle/AI_Studio课程/零基础实践深度学习（第2版）/
/paddle/paddleTS/
/paddle/论文复现/BERT-SST2-Prod/
pytroch/论文复现/huggingface/
/pytroch/论文复现/Informer/Informer2020-main/checkpoints/
pytroch/论文复现/Informer/Informer2020-well_log_predict/data/
pytroch/论文复现/SHA-RNN/sha-rnn/corpus.148650ff682fa3f76e78c18d7d6d5bd6.data
/pytroch/论文复现/AWD-LSTM/awd-lstm-lm/model_para.pt
/pytroch/论文复现/AWD-LSTM/awd-lstm-lm/corpus.148650ff682fa3f76e78c18d7d6d5bd6.data

